header {
  color: white;
  background-color: #562b81;
}

h1,
h2,
h3,
p,
label,
input,
textarea {
  width: 100%;
  font-family: 'Proza Libre', serif;
}

h1,
h2,
label {
  font-weight: 600;
}

h1 {
  margin-top: 0;
  font-size: 30px;
}

h2 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 12px;
}

h3 {
  margin-right: 18px
  font-size: 20px;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 26px;
  line-height: 26px;
}

img {
  width: 100%;
  aspect-ratio: calc(340 / 245);
  object-fit: cover;
}

img,
input,
textarea {
  width: 100%;
  margin-bottom: 24px;
}

label {
  height: 22px;
  margin-bottom: 9px;
}

input,
textarea {
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #b6b6b6;
}

input {
  height: 40px;
}

textarea {
  height: 149px;
}

input:focus,
textarea:focus {
  outline: 4px solid #562b81;
}

ul {
  padding: 0;
  list-style-type: none;
}

li::marker {
  display: none;
}

.save-btn {
  width: auto;
  padding: 0.5em 1em;
  margin-bottom: 24px;
  font-size: 16px;
  color: white;
  background-color: #562b81;
  border-radius: 4px;
  border: 0;
}

.title-photoURL {
  flex-direction: column;
}

.notes-save {
  justify-content: end;
}
